extends base

- load humanize

block content
    script(src='gwgenerator/assets/gwgenerator.js', type='text/javascript')
    .container
      .row.well
        .col-md-6
          .row
            .col-md-12
              h2
                | Template: PBB/<span class='entrez'>{entrez}</span>
              hr
              h3
                - if titles.templatename
                  | Status: <span class='exists'>Exists</span>
                - else
                  | Status: <span class='missing'>Does Not Exists</span>

          .row
            .col-md-12
              button.show
                Show Template Code

              button.temp_action
                - if titles.templatename
                  | Some Create
                - else
                  | Some Edit

              - if titles.templatename
                button.view
                  | View Template

          .row
            textarea(rows='15', cols='50', readonly='readonly').code
              #{results.template}


      .row.well
        .col-md-6
          .row
            .col-md-12
              h2
                | Article: <span class='title'>{title}</span>
              hr

          - if titleExists
            div.warning
              p
                | One of the titles below exists on Wikipedia; manual editing required.

          .row
            .col-md-12
              h3
                | Possible titles:

              ul
                li
                  - if titles.symbol
                    | Gene symbol:     <span class='cl sym'>#{titles.symbol}</span>       <span class='exists'>Exists</span> <br />
                  - else
                    | Gene symbol:     <span class='cl sym'>#{titles.symbol}</span>       <span class='missing'>Missing</span> <br />

                li
                  - if titles.name
                    | Gene name:       <span class='cl name'>#{titles.name}</span>      <span class='exists'>Exists</span> <br />
                  - else
                    | Gene name:       <span class='cl name'>#{titles.name}</span>      <span class='missing'>Mising</span> <br />

                li
                  - if titles.altsym
                    | Alternate title: <span class='cl sym_alt'>#{titles.altsym}</span> <span class='exists'>Exists</span>
                  - else
                    | Alternate title: <span class='cl sym_alt'>#{titles.altsym}</span> <span class='missing'>Missing</span>


              h3.title_select
                | Select title from above choices:</h3>

              form
                - if existingTitle
                  input(type='text', size='60', value='{{existingTitle}}', name='title', readonly='readonly')
                - else
                  input(type='text', size='60', value='{{titles.name}}', name='title', readonly='readonly')

                input(type='hidden', value='{entrez}', name='id')


              button.show
                | show stub code

              - if titleExists
                button.edit
                  | Edit article '<span id='stub_action_title'>#{titles.name}</span>'
              - else
                button.create
                  | Create article '<span id='stub_action_title'>#{titles.name}</span>'


              - if titleExists
                button.view
                  | view article
              br
              textarea(rows='15', cols='50', readonly='readonly').code
                {{results.stub}}
